* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body {
    background: #202020;
}
.card-grid {
    display: flex;
    flex-wrap: wrap;
}
.card {
    min-width: 470px;
    max-width: 470px;
    height: 562px;
    color: #fff;
    margin: 50px auto 0;
    border-radius: 20px;
    padding: 35px 35px;
    text-align: center;
    opacity: 0.3;
    transition: opacity 0.2s;
}
.card:hover {
    opacity: 1;
}

/* Weather Card */
#weather-card.card {
    background: linear-gradient(135deg, #622eda, #ab92e6);
}
#weather-search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#weather-search input {
    border: 0;
    outline: 0;
    background: #efebff;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
#weather-search button {
    border: 0;
    outline: 0;
    background: #efebff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
#weather-search button img {
    width: 16px;
}
#weather-icon {
    width: 170px;
    margin-top: 30px;
}
#weather-info h1 {
    font-size: 80px;
    font-weight: 500;
}
#weather-info h2 {
    font-size: 45px;
    font-weight: 500;
    margin-top: -10px;
}
#weather-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.weather-col {
    display: flex;
    align-items: center;
    text-align: left;
}
.weather-col img {
    width: 45px;
    margin-right: 10px;
}
#weather-humidity, #weather-wind {
    font-size: 28px;
    margin-top: -6px;
}
#weather-info {
    display: none;
}
#weather-error {
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}

/* Calculator Card */
#calc-card.card {
    background: linear-gradient(135deg, #ff7b00, #ffd3aa);
}
#calc-container {
    width: 100%;
    height: 100%;
}
#calc-display {
    display: flex;
    justify-content: flex-end;
    background: #000000;
    width: 100%;
    height: 20%;
    border-radius: 20px;
}
#calc-display input {
    border: 0;
    border-radius: 20px;
    background: #000000;
    color: #ffffff;
    text-align: right;
    width: 100%;
    font-size: 40px;
    font-weight: 500px;
    margin: 0 10px;
}
.calc-btn-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 13%;
    margin: 15px 0;
}
.calc-btn {
    border: 0;
    outline: 0;
    border-radius: 20px;
    width: 22%;
    font-size: 24px;
    font-weight: 500px;
    background: #000000;
    color: #ffffff;
}

/* Wordle Card */
#wordle-card.card {
    background: #000000;
}
#wordle-grid {
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(6, auto);
    grid-template-columns: repeat(5, auto);
}
.box {
    width: 74px;
    height: 74px;
    margin: 4px;
    border: 2px solid #3a3a3c;
    background: #121213;
    display: grid;
    place-items: center;
    text-transform: uppercase;
    font-size: 2.4rem;
}
.box.empty {
    background: #3a3a3c;
    border: 2px solid #3a3a3c;
}
.box.wrong {
    background: #b59f3b;
    border: 2px solid #b59f3b;
}
.box.right {
    background: #538d4e;
    border: 2px solid #538d4e;
}
.box-animate {
    animation: compress 0.5s ease;
}
@keyframes compress {
    0% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}